{% extends 'layout.html' %}

{% block body %}
        {% include 'include/navbar.html' %}

          <div class="ui content container">
            <h1 class="ui inverted header">Cover your page.</h1>

            <p>
              Cover is a one-page template for building simple and beautiful home
              pages. Download, edit the text, and add your own fullscreen background
              photo to make it your own.
            </p>

              <!--  Bouton de lancement -->
              <div class="ui vertical animated huge button" tabindex="0">
                  <div class="hidden content">Matching</div>
                  <div class="visible content">
                    <i class="huge play circle icon"></i>
                  </div>
              </div>

          </div>

{% endblock %}

