{% extends 'layout.html' %}

{% block body %}
        {% include 'include/navbar.html' %}

          <div class="ui content container">
            <h1 class="ui inverted header"> Trouve au hasard une personne avec qui déjeuner</h1>

            <p>
              Random Lunch YR est une application qui matche des personnes au hasard pour qu'ils déjeunent ensemble.
                On peut ainsi avoir des Matchs totalement inattendue.
            </p>

              <!--  Bouton de lancement -->
              <div style="cursor: pointer;" onclick="window.location='/matching';" class="ui animated fade  huge button" tabindex="0">
                  <div class="hidden content">Matching</div>
                  <div class="visible content">
                    <i class="huge play circle icon"></i>
                  </div>
              </div>

          </div>

{% endblock %}

