<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title> Matching Lunch YR</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      type="text/css"
    />

        <!-- Main Stylesheet File -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">




    <title>Matching Lunch YR</title>
</head>
<body id="root">
            <div class="ui inverted vertical center aligned segment">
                {% block body %} {% endblock %}
                <!-- {% include 'include/footer.html' %} -->
            </div>
</body>
</html>